.banner {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;

   @media (min-width: 1125px) {
      margin: 45px 0 40px;
   }

   img {
      object-fit: cover;
      height: 111px;
      width: 100%;
      margin: 0 20px;
      border-radius: 10px;

      @media (min-width: 1125px) {
         height: 223px;
         margin: 0;
         border-radius: 25px;
      }
   }

   h1 {
      position: absolute;
      left: 20px;
      margin: 18px;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.8px;
      color: #fff;

      @media (min-width: 500px) {
         left: auto;
      }

      @media (min-width: 1125px) {
         font-size: 48px;
      }
   }

   br {
      @media (min-width: 500px) {
         display: none;
      }
   }
}

.about-banner {
   display: flex;
   width: 100%;

   img {
      height: 223px;
      width: 100%;
   }

   @media (min-width: 1125px) {
      margin: 0 100px;
   }
}
