.collapses {
   margin: 0 20px;

   @media (min-width: 1125px) {
      position: relative;
      margin: 0px 100px;
      padding: 0 108px;
   }
}

.collapse {
   display: flex;
   flex-direction: column;
   margin: 20px auto;

   @media (min-width: 1125px) {
      margin: 33px auto;
   }
}

.collapse-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1;
   height: 30px;
   padding: 0 8px 0 12px;
   border-radius: 5px;
   color: #fff;
   background-color: #ff6060;
   cursor: pointer;

   @media (min-width: 635px) {
      height: 34px;
   }

   @media (min-width: 1125px) {
      height: 47px;
      padding: 0 32px 0 18px;
   }

   .collapse-title {
      margin: 0;
      font-size: 14px;
      font-weight: 500;

      @media (min-width: 635px) {
         font-size: 16px;
      }

      @media (min-width: 1125px) {
         font-size: 24px;
      }
   }
}

.collapse-description {
   display: none;
}

.collapse-description.active {
   display: inline-block;
   margin: 0;
   margin-top: -6px;
   padding: 26px 12px 52px;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.3;
   color: #ff6060;
   background-color: #f7f7f7;

   li {
      padding: 2px 0;
      list-style: none;
   }

   @media (min-width: 635px) {
      font-size: 16px;
   }

   @media (min-width: 1125px) {
      padding: 34px 18px 12px;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 1px;
   }
}

.fa-chevron-down {
   display: inline-block;
   position: relative;
   right: 0;
   font-size: 18px;
   cursor: pointer;

   @media (min-width: 1125px) {
      position: relative;
      right: 0;
      font-size: 26px;
   }
}

.fa-chevron-down.active {
   transform: rotate(180deg);
}
