.tags {
   margin: 0;
   padding: 0;

   @media (min-width: 1125px) {
      width: 75%;
   }

   li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      width: auto;
      margin-right: 10px;
      padding: 1px 27px;
      font-size: 11px;
      letter-spacing: 0.4px;
      list-style: none;
      border-radius: 5px;
      color: #fff;
      background-color: #ff6060;

      @media (max-width: 375px) {
         margin: 2px 6px 2px 0;
         text-align: center;
      }

      @media (min-width: 635px) {
         padding: 4px 27px;
         font-size: 14px;
      }

      @media (min-width: 1125px) {
         margin: 20px 10px 10px 0;
         padding: 4px 36px;
         font-size: 14px;
         border-radius: 10px;
      }
   }
}
