body {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", "Roboto", sans-serif;
}

#root {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

main {
   margin: auto;
   margin: 20px;

   @media (min-width: 1125px) {
      margin: 0 100px;
      margin-bottom: 40px;
   }
}
