.main-NotFoundPage {
   display: flex;
   flex-direction: column;
   position: relative;
   height: 255px;
   min-height: 78vh;
   align-items: center;
   justify-content: center;

   @media (min-width: 960px) {
      top: 38%;
   }

   @media (min-width: 1125px) {
      margin: 0 auto;
      padding: 0;
   }
}
