body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
@media (min-width: 375px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1125px) {
  .header {
    margin: 40px 100px 0 100px;
  }
}
.header img {
  height: 47px;
  width: 145px;
}
@media (min-width: 1125px) {
  .header img {
    height: 68px;
    width: 210px;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
@media (min-width: 375px) {
  .navigation {
    margin: 0;
    padding-top: 5px;
  }
}
.navigation a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff6060;
}
@media (min-width: 635px) {
  .navigation a {
    font-size: 16px;
  }
}
@media (min-width: 1125px) {
  .navigation a {
    font-size: 24px;
    text-transform: none;
  }
}
.navigation .active {
  text-decoration: underline;
  -webkit-text-decoration-color: #ff6060;
          text-decoration-color: #ff6060;
}

.about-link {
  margin-left: 18px;
}
@media (min-width: 1125px) {
  .about-link {
    margin-left: 60px;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 20px;
}
@media (min-width: 1125px) {
  .banner {
    margin: 45px 0 40px;
  }
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 111px;
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 1125px) {
  .banner img {
    height: 223px;
    margin: 0;
    border-radius: 25px;
  }
}
.banner h1 {
  position: absolute;
  left: 20px;
  margin: 18px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #fff;
}
@media (min-width: 500px) {
  .banner h1 {
    left: auto;
  }
}
@media (min-width: 1125px) {
  .banner h1 {
    font-size: 48px;
  }
}
@media (min-width: 500px) {
  .banner br {
    display: none;
  }
}

.about-banner {
  display: flex;
  width: 100%;
}
.about-banner img {
  height: 223px;
  width: 100%;
}
@media (min-width: 1125px) {
  .about-banner {
    margin: 0 100px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}
@media (min-width: 1125px) {
  .cards {
    margin: auto 0;
    padding: 25px 25px 36px 25px;
    border-radius: 25px;
    background-color: #f6f6f6;
  }
}

.card {
  display: flex;
  flex-grow: 1;
  position: relative;
  height: 255px;
  padding: 10px;
}
@media (min-width: 1125px) {
  .card {
    height: 340px;
    width: 340px;
    padding: 25px 30px;
  }
}
@media (min-width: 1420px) {
  .card {
    height: 340px;
    width: 340px;
  }
}
.card a {
  display: flex;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 255px;
  width: 100%;
  border-radius: 10px;
  opacity: 0.5;
}
@media (min-width: 1125px) {
  .card img {
    display: flex;
    flex-grow: 1;
    height: 340px;
    width: 340px;
  }
}
@media (min-width: 1420px) {
  .card img {
    height: 340px;
    width: 340px;
  }
}

.card-title {
  position: absolute;
  bottom: 1px;
  margin: 10px 0;
  padding: 15px 30px 15px 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
}
@media (min-width: 1125px) {
  .card-title {
    bottom: 7px;
    margin: 20px 0;
    padding: 15px 50px 15px 20px;
  }
}

.errorCode {
  position: relative;
  top: -36px;
  width: 198px;
}
@media (min-width: 635px) {
  .errorCode {
    width: 270px;
  }
}
@media (min-width: 960px) {
  .errorCode {
    display: flex;
    position: relative;
    top: -3px;
    width: 597px;
  }
}
@media (min-width: 1125px) {
  .errorCode {
    position: relative;
    top: 150px;
  }
}

.errorMessage {
  margin: 0 auto;
  padding: 30px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.6px;
  color: #ff6060;
}
@media (min-width: 635px) {
  .errorMessage {
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  .errorMessage {
    padding: 50px;
    font-size: 26px;
  }
}
@media (min-width: 1125px) {
  .errorMessage {
    position: relative;
    top: 120px;
    padding: 100px 32px;
    font-size: 36px;
  }
}

.backLink {
  position: relative;
  top: 87px;
  font-size: 14px;
  font-weight: 500;
  color: #ff6060;
}
@media (min-width: 635px) {
  .backLink {
    font-size: 16px;
  }
}
@media (min-width: 1125px) {
  .backLink {
    position: relative;
    top: 120px;
    height: 100%;
    font-size: 20px;
  }
}

.collapses {
  margin: 0 20px;
}
@media (min-width: 1125px) {
  .collapses {
    position: relative;
    margin: 0px 100px;
    padding: 0 108px;
  }
}

.collapse {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
@media (min-width: 1125px) {
  .collapse {
    margin: 33px auto;
  }
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 30px;
  padding: 0 8px 0 12px;
  border-radius: 5px;
  color: #fff;
  background-color: #ff6060;
  cursor: pointer;
}
@media (min-width: 635px) {
  .collapse-header {
    height: 34px;
  }
}
@media (min-width: 1125px) {
  .collapse-header {
    height: 47px;
    padding: 0 32px 0 18px;
  }
}
.collapse-header .collapse-title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 635px) {
  .collapse-header .collapse-title {
    font-size: 16px;
  }
}
@media (min-width: 1125px) {
  .collapse-header .collapse-title {
    font-size: 24px;
  }
}

.collapse-description {
  display: none;
}

.collapse-description.active {
  display: inline-block;
  margin: 0;
  margin-top: -6px;
  padding: 26px 12px 52px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #ff6060;
  background-color: #f7f7f7;
}
.collapse-description.active li {
  padding: 2px 0;
  list-style: none;
}
@media (min-width: 635px) {
  .collapse-description.active {
    font-size: 16px;
  }
}
@media (min-width: 1125px) {
  .collapse-description.active {
    padding: 34px 18px 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
  }
}

.fa-chevron-down {
  display: inline-block;
  position: relative;
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
@media (min-width: 1125px) {
  .fa-chevron-down {
    position: relative;
    right: 0;
    font-size: 26px;
  }
}

.fa-chevron-down.active {
  transform: rotate(180deg);
}

.gallery {
  position: relative;
  margin: 10px 20px 0;
}
@media (min-width: 1125px) {
  .gallery {
    height: 415px;
    margin: 20px 20px 0;
  }
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 255px;
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 1125px) {
  .gallery img {
    height: 415px;
  }
}

.picture {
  display: flex;
  align-items: center;
}
@media (min-width: 1125px) {
  .picture {
    margin: 0 80px;
  }
}

.lenght {
  display: none;
}
@media (min-width: 1125px) {
  .lenght {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
}

.fa-chevron-right {
  position: absolute;
  top: 45%;
  right: 0;
  height: 19px;
  padding-right: 26px;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 635px) {
  .fa-chevron-right {
    height: 27px;
  }
}
@media (min-width: 1125px) {
  .fa-chevron-right {
    top: 39%;
    height: 92px;
    margin: 0 80px;
    color: #fff;
  }
}

.fa-chevron-left {
  position: absolute;
  top: 45%;
  left: 0;
  height: 19px;
  padding-left: 26px;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 635px) {
  .fa-chevron-left {
    height: 27px;
  }
}
@media (min-width: 1125px) {
  .fa-chevron-left {
    top: 39%;
    height: 92px;
    margin: 0 80px;
    color: #fff;
  }
}

.host-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0 15px;
}
@media (min-width: 1125px) {
  .host-info {
    flex-direction: column-reverse;
    align-items: flex-end;
    position: absolute;
    top: -16px;
    right: 3px;
    width: 24%;
    margin: 18px 3px 15px;
  }
}

.host {
  display: flex;
}
@media (min-width: 635px) {
  .host {
    align-items: center;
  }
}
@media (min-width: 1125px) {
  .host {
    align-items: center;
  }
}
.host img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
@media (min-width: 635px) {
  .host img {
    height: 45px;
    width: 45px;
  }
}
@media (min-width: 1125px) {
  .host img {
    height: 64px;
    width: 64px;
  }
}

.host span {
  width: 80px;
  padding-right: 12px;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  color: #ff6060;
}
@media (min-width: 635px) {
  .host span {
    font-size: 15px;
  }
}
@media (min-width: 1125px) {
  .host span {
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.5;
  }
}

@media (min-width: 1125px) {
  .rating {
    margin: 25px 0;
  }
}
.rating img {
  height: 15px;
  margin-right: 5px;
}
@media (min-width: 635px) {
  .rating img {
    height: 18px;
  }
}
@media (min-width: 1125px) {
  .rating img {
    height: 30px;
    margin-right: 11px;
  }
  .rating img:last-child {
    margin-right: 0;
  }
}

.tags {
  margin: 0;
  padding: 0;
}
@media (min-width: 1125px) {
  .tags {
    width: 75%;
  }
}
.tags li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: auto;
  margin-right: 10px;
  padding: 1px 27px;
  font-size: 11px;
  letter-spacing: 0.4px;
  list-style: none;
  border-radius: 5px;
  color: #fff;
  background-color: #ff6060;
}
@media (max-width: 375px) {
  .tags li {
    margin: 2px 6px 2px 0;
    text-align: center;
  }
}
@media (min-width: 635px) {
  .tags li {
    padding: 4px 27px;
    font-size: 14px;
  }
}
@media (min-width: 1125px) {
  .tags li {
    margin: 20px 10px 10px 0;
    padding: 4px 36px;
    font-size: 14px;
    border-radius: 10px;
  }
}

.infos {
  margin: 8px 20px;
}
@media (min-width: 1125px) {
  .infos {
    position: relative;
    margin: 20px 100px;
  }
}

.infos .titles {
  color: #ff6060;
}
.infos .titles h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
@media (min-width: 635px) {
  .infos .titles h1 {
    font-size: 26px;
  }
}
@media (min-width: 1125px) {
  .infos .titles h1 {
    width: 75%;
    padding: 3px 0;
    font-size: 36px;
  }
}
.infos .titles h2 {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 635px) {
  .infos .titles h2 {
    font-size: 17px;
  }
}
@media (min-width: 1125px) {
  .infos .titles h2 {
    width: 75%;
    margin: 0;
    font-size: 18px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 209px;
  background-color: #000;
}
@media (min-width: 1125px) {
  .footer {
    justify-content: initial;
  }
}

.logo-footer {
  display: flex;
  align-self: center;
  height: 40px;
  width: 122px;
  margin-bottom: 25px;
}
@media (min-width: 1125px) {
  .logo-footer {
    margin: 65px 0 45px;
  }
}

.copyrights {
  display: flex;
  align-self: center;
  font-size: 14px;
  color: #fff;
}
@media (min-width: 1125px) {
  .copyrights {
    font-size: 24px;
    font-weight: 500;
  }
}

.main-home {
  min-height: 80vh;
}
@media (min-width: 1125px) {
  .main-home {
    margin: 0 100px 40px;
  }
}

.main-housing {
  min-height: 78vh;
  margin-bottom: 10px;
}
@media (min-width: 1125px) {
  .main-housing {
    margin-bottom: 40px;
  }
}
@media (min-width: 1125px) {
  .main-housing .gallery img {
    border-radius: 25px;
  }
}
@media (min-width: 1125px) {
  .main-housing .content {
    margin: 24px 100px 20px;
  }
}

@media (min-width: 1125px) {
  .collapses-housing {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0 100px;
    padding: 0;
  }
}
@media (min-width: 1125px) {
  .collapses-housing .collapse {
    width: 47%;
    margin: 0;
  }
}
@media (min-width: 1125px) {
  .collapses-housing .collapse-header {
    min-height: 52px;
    border-radius: 10px;
  }
}
@media (min-width: 1125px) {
  .collapses-housing .collapse-title {
    font-size: 18px;
  }
}
.collapses-housing .collapse-description.active {
  padding: 24px 12px 5px;
  border-radius: 10px;
}
@media (min-width: 635px) {
  .collapses-housing .collapse-description.active {
    padding: 24px 12px 14px;
  }
}
@media (min-width: 1125px) {
  .collapses-housing .collapse-description.active {
    height: 100%;
    padding: 34px 18px 28px;
    font-size: 18px;
  }
}
@media (min-width: 1125px) {
  .collapses-housing .fa-chevron-down {
    right: 0;
  }
}

.main-about {
  min-height: 78vh;
}
.main-about .collapse-description.active {
  border-radius: 5px;
}

.main-NotFoundPage {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 255px;
  min-height: 78vh;
  align-items: center;
  justify-content: center;
}
@media (min-width: 960px) {
  .main-NotFoundPage {
    top: 38%;
  }
}
@media (min-width: 1125px) {
  .main-NotFoundPage {
    margin: 0 auto;
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */