.header {
   display: flex;
   flex-direction: column;

   @media (min-width: 375px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   img {
      height: 47px;
      width: 145px;

      @media (min-width: 1125px) {
         height: 68px;
         width: 210px;
      }
   }
}

.navigation {
   display: flex;
   justify-content: flex-end;
   margin: 10px 0;

   @media (min-width: 375px) {
      margin: 0;
   }

   a {
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: #ff6060;

      @media (min-width: 1125px) {
         font-size: 24px;
         text-transform: none;
      }
   }

   .about {
      margin-left: 18px;

      @media (min-width: 1125px) {
         margin-left: 60px;
      }
   }

   .active {
      text-decoration: underline;
      text-decoration-color: #ff6060;
   }
}
